#ignore file file.ext or symlink
.env
.DS_Store
git
REF.js
package-lock.json

#ignore all files with .ext extension
#.ext
#but !NOT this specific .extfile
#!important.ext

#ignore folder
node_modules/